<h2>El registro fue almacenado con éxito!</h2>

<p> <%=@sale.cod%> </p>
<p> <%=@sale.detail%> </p>
<p> <%=@sale.category%> </p>
<p> <%=@sale.value%> </p>
<p> <%=@sale.discount%> </p>
<p> <%=@sale.tax%> </p>
<p> <%=@sale.total%> </p>

<%= link_to 'Volver', new_sale_path %>
